obj/CheckMyTicket.csproj.codegeneration.targets
obj/CheckMyTicket.csproj.nuget.dgspec.json
obj/CheckMyTicket.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netcoreapp3.1/CheckMyTicket.assets.cache
obj/Debug/netcoreapp3.1/CheckMyTicket.csproj.CopyComplete
obj/Debug/netcoreapp3.1/CheckMyTicket.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/CheckMyTicket.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/CheckMyTicket.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/CheckMyTicket.dll
obj/Debug/netcoreapp3.1/CheckMyTicket.pdb
obj/CheckMyTicket.csproj.nuget.dgspec.json
obj/CheckMyTicket.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netcoreapp3.1/CheckMyTicket.assets.cache
obj/Debug/netcoreapp3.1/CheckMyTicket.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/CheckMyTicket.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/CheckMyTicket.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/CheckMyTicket.dll
obj/Debug/netcoreapp3.1/CheckMyTicket.pdb
bin/Debug/netcoreapp3.1/CheckMyTicket.deps.json
bin/Debug/netcoreapp3.1/CheckMyTicket.dll
bin/Debug/netcoreapp3.1/CheckMyTicket.pdb
bin/Debug/netcoreapp3.1/dotnet-aspnet-codegenerator-design.dll
bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Workspaces.dll
bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.InMemory.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.dll
bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
bin/Debug/netcoreapp3.1/System.Composition.AttributedModel.dll
bin/Debug/netcoreapp3.1/System.Composition.Convention.dll
bin/Debug/netcoreapp3.1/System.Composition.Hosting.dll
bin/Debug/netcoreapp3.1/System.Composition.Runtime.dll
bin/Debug/netcoreapp3.1/System.Composition.TypedParts.dll
bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/CheckMyTicket.deps.json
bin/Debug/netcoreapp3.1/CheckMyTicket.dll
bin/Debug/netcoreapp3.1/CheckMyTicket.pdb
